.lending_section {
    padding-top: 10px;
    padding-left: 0px;
    list-style-type: none;
}

.single_lending {
    height: 60px;

    margin: 0px 0px 0px 0px;

    /* debug settings */
    /* border-style: dashed;
    border-width: 1px; */
    /* end debug settings */

    display: grid;
    grid-template-columns: 10% 5% auto 17%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lending_seperator {
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.lending_date_month {
    font-size: 0.7rem;
    text-transform: uppercase;

    margin: 0px;
    padding: 0px;
}

.lending_date_day {
    font-size: 1.5rem;

    margin: 0px;
    padding: 0px;
}

.lending_emoji {
    font-size: 1rem;
    text-align: center;

    margin: 0px;
    padding: 0px;
}

.lending_direction {
    height: 30%;

    transform: rotate(180deg);
}

.lending_text {
    padding: 0px 10% 0px 10%;
}

.lending_description {
    overflow: hidden;

    max-height: 40px;
}

.lending_other {
    font-size: 0.85rem;
}