.main {
    color: var(--text_color);
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--brand_color_middle);
    border-style: solid;
}

.input_element {
    border-width: 1px;
    border-color: var(--brand_color_middle);
    border-style: solid;
}