.main__container {
    color: var(--text_color);
    border-width: var(--container_border_radius);
    border-radius: 10px;
    border-color: var(--brand_color_middle);
    border-style: solid;

    padding: 3% 7% 5% 7%;
}

.form__error {
    text-align: center;

    color: var(--error_message_color);
    background-color: var(--error_message_background_color);

    padding: 3px 3px 3px 3px;
}

.message__account_hint {
    margin-top: 30px;
}

@media screen and (max-width: 499px) {
    .main__container {
        margin:  7% 2% 0% 2%;
    }
}

@media screen and (min-width: 500px) {
    .main__container {
        margin:  7% 10% 0% 10%;
    }
}

@media screen and (min-width: 600px) {
    .main__container {
        margin:  7% 17% 0% 17%;
    }
}

@media screen and (min-width: 1000px) {
    .main__container {
        margin:  7% 25% 0% 25%;
    }
}