body {
    --navbar_background_color: #4E3C59;
    --navbar_selected_color: #D55447;
    --navbar_unselected_color: #FFFFFF;

    --background_color: #FFFFFF;
    --generic_button_color: #FFFFFF;
    
    --greedy_amigo_color: #FFFFFF;

    --header_color: #C48171;
    --text_color: #000000;
    
    font-family:  'Work Sans', Helvetica, Arial, sans-serif;

    min-width: 250px;
    background: var(--background_color);
}

.greedy_amigo_header {
    color: var(--greedy_amigo_color);
}

button {
    background: var(--generic_button_color);
    border-radius: 3.5px;
    padding: 1.75% 4% 1.75% 4%;
    margin: 1.75% 4% 1.75% 4%;
}

input, textarea {
    border-radius: 3.5px;
    border-width: 0px;
    margin:  1% 1% 1% 1%;
    padding: 2% 2% 2% 2%;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    font-style: italic;
}

h1, h2, h3 {
    color: var(--header_color);
    font-family: 'Sarabun', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    color: var(--text_color);
}