body {
    --navbar_background_color: #35293D;
    --navbar_selected_color: #D55447;
    --navbar_unselected_color: #FFFFFF;

    --background_color: #ECECD7;
    
    --greedy_amigo_color: #913228;

    --header_color: #C48171;
    --text_color: #000000;
    
    font-family:  'Work Sans', Helvetica, Arial, sans-serif;
}

.main {
    text-align: center;
}

.greedy_amigo_header {
    color: var(--greedy_amigo_color);
}

h1, h2, h3 {
    color: var(--header_color);
    font-family: 'Sarabun', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    color: var(--text_color);
}