html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    --text_color: #000000;
    --inverse_text_color: #FFFFFF;
    --brand_color_begin: #7835a5;
    --brand_color_end: #5a1882;
    --brand_color_middle: #692794;
    --selected_color: #FFFFFF;
    --error_message_color: #D8000C;
    --error_message_background_color: #FFBABA;

    font-family:  'Work Sans', Helvetica, Arial, sans-serif;

    min-width: 250px;
    margin: 0px 0px 0px 0px;
    background: var(--background_color);
}

input, textarea {
    border-radius: 3.5px;
    border-width: 0px;
    margin:  1% 1% 1% 1%;
    padding: 2% 2% 2% 2%;
    width: 100%;
}

input, textarea, span {
    border-radius: 3.5px;
    border-width: 0px;
    margin:  1% 1% 1% 1%;
    padding: 2% 2% 2% 2%;
}

input::placeholder, textarea::placeholder {
    font-style: italic;
}

h1, h2, h3 {
    font-family: 'Sarabun', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.p_default_style {
    color: var(--text_color);
}

.btn_default_style {
    color: var(--inverse_text_color);
    background: linear-gradient(to bottom, var(--brand_color_begin), var(--brand_color_end));
    border-radius: 3.5px;
    border-width: 0px;
    padding: 1.75% 4% 1.75% 4%;
    margin: 1.75% 4% 1.75% 4%;
}

.navbar {
    height: 60px;
    background: linear-gradient(to right, var(--brand_color_begin), var(--brand_color_end));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav_item {
    font-size: 1rem;
    text-decoration: none;
    color: var(--inverse_text_color);
    background-color: rgba(0, 0, 0, 0);
    border: 30px black;

    padding-top: 7px;
}

.nav_item_selected {
    color: var(--text_color);
    background: var(--selected_color);
    border-radius: 5px 5px 0px 0px;
}

.nav_greedy_amigo_logo {
    width: 33px;

    padding-top: 10px;
}

.nav_greedy_amigo_text {
    font-size: 1.5rem;
    font-family: 'Sarabun', Helvetica, Arial, sans-serif;

    padding: 16px 0px 0px 7px;
}

.nav_right_item {
    font-size: 1.1rem;
    
    margin: 23px 7px 0px 7px;
    padding: 10px 7px 0px 7px;
}

.main {
    text-align: center;

    padding: 0% 3% 5% 3%;
}

@media screen and (max-width: 499px) {
    .navbar {
        padding-left: 1%;
        padding-right: 1%;
    }

    .main {
        margin: 5% 1% 0% 1%;
    }
}

@media screen and (min-width: 500px) {
    .navbar {
        padding-left: 5%;
        padding-right: 5%;
    }

    .main {
        margin: 5% 7% 0% 7%;
    }
}

@media screen and (min-width: 600px) {
    .navbar {
        padding-left: 8.5%;
        padding-right: 8.5%;
    }

    .main {
        margin: 5% 10% 0% 10%;
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .main {
        margin: 5% 15% 0% 15%;
    }
}
