<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/css?family=Sarabun|Work+Sans" rel="stylesheet">
        <link href="../style.css" rel="stylesheet">
        <link href="../css/dashboard.css" rel="stylesheet">

        <title>Greedy Amigo</title>
    </head>
    <body>
        <div id="dashboard">
            <nav class="nav__style" v-bind:class="{ item__blurr: lendingDialogue.addLendingDialogueVisible }">
                <div class="nav__left">
                    <a href="dashboard.html">
                        <img class="nav__item nav__brand_logo" src="../img/logo.svg" alt="greedy amigo logo"></object>
                    </a>
                    <a class="nav__item nav__brand_text" href="dashboard.html">Greedy Amigo</a>
                </div>
                <div class="nav__right">
                    <a class="nav__item nav__menu_item" v-on:click="logOutUser" href="../index.html">
                        Log out
                    </a>
                </div>
            </nav>
    
            <main class="main__container" v-bind:class="{ item__blurr: lendingDialogue.addLendingDialogueVisible }">
                <h1 v-if="dataFetched">Hi {{ user.firstName }} {{ user.lastName }}</h1>
                <h2 v-else>{{ userMessage }}</h2>

                <ul class="ul__lendings">
                    <li v-for="lending in user.lendings">
                        <div class="lending__style">
                            <div class="lending__elem_container">
                                <p class="p__default lending__date_text" v-bind:class="{ lending__style_cleared: lending.cleared }">{{ lending.dueDate.monthName }}</p>
                                <p class="p__default lending__date_number" v-bind:class="{ lending__style_cleared: lending.cleared }">{{ lending.dueDate.day }}</p>
                                <p class="p__default lending__date_text" v-bind:class="{ lending__style_cleared: lending.cleared }">{{ lending.dueDate.year }}</p>
                            </div>
                            
                            <span v-if="lending.emoji" class="lending__emoji" >{{ lending.emoji }}</span>
                            <span v-else class="lending__emoji">{{ getMoneyLendingEmoji() }}</span>
        
                            <img v-if="lending.isBorrowed" class="lending__direction lending__borrowed" src="../img/borrowed.svg" alt="borrowed ressource">
                            <img v-else class="lending__direction lending__lent" src="../img/lent.svg" alt="lent ressource">

                            <div class="lending__elem_container lending_text" v-bind:class="{ lending__style_cleared: lending.cleared }">
                                <p class="lending__description">
                                    {{ lending.description }}                       
                                </p>
                                <p class="lending__friend">    
                                    <em>
                                        {{ lending.participant.firstName }} {{ lending.participant.lastName }}
                                    </em>
                                </p>
                            </div>
                            <div class="lending__elem_container" v-bind:class="{ lending__style_cleared: lending.cleared }">
                                <em v-if="isMoneyLending(lending)">
                                    {{ lending.amount }} {{ lending.currency.symbol }}
                                </em>
                                <em v-else>
                                    {{ lending.thing.label }}
                                </em>
                            </div>
                            <div class="lending__elem_container">
                                <img class="lending__edit" src="../img/edit.svg" alt="lent ressource">
                                <img class="lending__delete" src="../img/delete.svg" alt="lent ressource">
                            </div>
                        </div>
                        <hr v-if="isNotLastLendingEntry(lending)" class="lending__seperator">
                    </li>
                </ul>

                <button class="button__default button__add" v-on:click="showAddLendingDialoge">
                    <img class="button__add_icon" src="../img/add.svg" alt="add lending">
                </button>
            </main>

            <div v-if="lendingDialogue.addLendingDialogueVisible" class="popup__background">
                <form class="popup__container" v-on:submit.prevent="saveLending" >
                    <h2 class="popup__header">add new lending</h2>

                    <div class="popup__value_container">
                        <input class="popup__item input__default popup__description" placeholder="Description" v-model="newLending.description" required>

                        <label class="popup__item popup__duedate_label">Due date</label>
                        <datepicker class="popup__lending_duedate" v-model="newLending.dueDate" id="duedatepicker" name="duedatepicker"></datepicker>

                        <label class="popup__item popup__is_borrowed_label" for="popup__is_borrowed">Borrowed?</label>
                        <input id="popup__is_borrowed" type="checkbox" class="popup__item popup__is_borrowed" v-model="newLending.isBorrowed">

                        <label class="popup__item popup__add_friend_label" for="create_new_friend_label">New friend?</label>
                        <input id="create_new_friend" type="checkbox" class="popup__item popup__add_friend" v-model="lendingDialogue.addNewFriend">
    
                        <input v-if="lendingDialogue.addNewFriend" class="popup__item input__default popup__firstname" placeholder="Firstname" v-model="newLending.firstName" required>
                        <input v-if="lendingDialogue.addNewFriend" class="popup__item input__default popup__lastname" placeholder="Lastname" v-model="newLending.lastName" required>
                        <select v-else class="popup__item popup__select popup__friend_search" v-model="newLending.friendString" required>
                            <option v-for="friend in getFriends()" :value="friend">{{ friend }}</option>
                        </select>

                        <label class="popup__item popup__type_label" for="lendingType">Lending type</label>
                        <select class="popup__item popup__type" id="lendingType" v-model="newLending.discriminator">
                            <option v-for="lendingType in lendingTypes" :value="lendingType">{{ lendingType }}</option>
                        </select>

                        <input v-if="isMoneyLending(newLending)" class="popup__item input__default popup__amount" type="number" step="0.01" placeholder="Amount" v-model="newLending.amount" required>

                        <label v-if="isMoneyLending(newLending)" class="popup__item popup__currency_select_label" for="currencySelect">Currency</label>
                        <select v-if="isMoneyLending(newLending)" id="currencySelect" class="popup__item popup__currency_select" v-model="newLending.currencyString" required>
                            <option v-for="currency in currencies" :value="getCurrencyString(currency)">{{ getCurrencyString(currency) }}</option>
                        </select>

                        <label v-if="isThingLending(newLending)" class="popup__item popup__add_thing_label" for="create_new_thing">New thing?</label>
                        <input v-if="isThingLending(newLending)" id="create_new_thing" type="checkbox" class="popup__item popup__add_thing" v-model="lendingDialogue.addNewThing">
                        
                        <input v-if="isNewThingLending(newLending)" class="popup__item input__default popup__new_thing" placeholder="Thing" v-model="newLending.newThingStr" required>

                        <input v-if="isThingLending(newLending)" class="popup__item input__default popup__emoji" placeholder="Emoji" v-model="newLending.emoji" required>
                        
                        <label v-if="isOldThingLending(newLending)" class="popup__item popup__thing_select_label" for="thingSelector">Thing</label>
                        <select v-if="isOldThingLending(newLending)" id="thingSelector" class="popup__item popup__thing_select" v-model="newLending.thingString" required>
                            <option v-for="thing in getThings()" :value="thing">{{ thing }}</option>
                        </select>
                    </div>

                    <div class="popup__button_container">
                        <button class="button__default popup__lending_button" v-on:click="hideAddLendingDialoge">Cancel</button>
                        <button type="submit" class="button__default popup__lending_button">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="../dist/dashboard.bundle.js"></script>
        <script src="../dist/dashboard.bundle.js.map"></script>
    </body>
</html>