<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/css?family=Sarabun|Work+Sans" rel="stylesheet">
        <link href="../style.css" rel="stylesheet">
        <link href="../css/dashboard.css" rel="stylesheet">

        <title>Greedy Amigo</title>
    </head>
    <body>
        <div id="dashboard">
            <nav class="navbar">
                <div class="navbar_left">
                    <a href="dashboard.html">
                        <img class="nav_item nav_greedy_amigo_logo" src="../img/logo.svg" alt="greedy amigo logo"></object>
                    </a>
                    <a class="nav_item nav_greedy_amigo_text" href="dashboard.html">Greedy Amigo</a>
                </div>
                <div class="navbar_right">
                    <a class="nav_item nav_right_item" v-on:click="logOutUser" href="../index.html">
                        Log out
                    </a>
                </div>
            </nav>
    
            <main id="main_element" class="main">
                <h1>Lending overview</h1>
    
                <section class="lending_section" v-for="lending in lendings">
                    <div class="single_lending">
                        <div class="lending_item lending_date">
                            <p class="lending_date_month">{{ lending.dueDate.month }}</p>
                            <p class="lending_date_day">{{ lending.dueDate.day }}</p>
                        </div>
    
                        <div class="lending_item lending_icons">
                            <!-- <div class="lending_icon_container"> -->
                                <p v-if="lending.emoji" class="lending_emoji">{{ lending.emoji }}</p>
                                <p v-else class="lending_emoji">💵</p>
                            <!-- </div> -->
    
                            <!-- <div class="lending_icon_container"> -->
                                <img v-if="lending.cleared" class="lending_direction" src="../img/lent.svg" alt="lent ressource">
                                <img v-else class="lending_direction" src="../img/borrowed.svg" alt="borrowed ressource">
                            <!-- </div> -->
                        </div>
                        <div class="lending_item lending_title">
                            <!-- {{ value }} -->
                            <strong class="lending_item">
                                {{ lending.description }}
                            </strong>
                        </div>
                        <div class="lending_item lending_amount">
                            <em v-if="lending.discriminator === 'moneyLending'">
                                {{ lending.amount }} {{ lending.currency.symbol }}
                            </em>
                            <em v-else>
                                {{ lending.thing.label }}
                            </em>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        

        <script src="../dist/dashboard.bundle.js"></script>
        <script src="../dist/dashboard.bundle.js.map"></script>
    </body>
</html>