<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="../img/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="../img/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="../img/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="../img/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="../img/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="../img/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="../img/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="../img/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="../img/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="../img/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="../img/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="../img/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="../img/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="../img/favicon/manifest.json" rel="manifest">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="../img/favicon/ms-icon-144x144.png" name="msapplication-TileImage">
    <meta content="#ffffff" name="theme-color">

    <link href="https://fonts.googleapis.com/css?family=Sarabun|Work+Sans" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="../css/login_signup.css" rel="stylesheet">

    <title>Greedy Amigo - Log In</title>
</head>
<body>
<nav id="navbar" class="nav__style">
    <div class="nav__start">
        <a id="btn__collapse" class="nav__collapse_button">
            &#9776;
        </a>
        <a href="../index.html">
            <img alt="brand logo" class="nav__item nav__brand_logo" src="../img/logo.svg">
        </a>
        <a class="nav__item nav__brand_text" href="../index.html">
            Greedy Amigo
        </a>
        <div class="nav__item nav__brand_separator_container">
            <hr class="nav__brand_separator">
        </div>
    </div>
    <div class="nav__end">
        <a class="nav__item nav__menu_item nav__item_selected" href="login.html">
            Log in
        </a>
        <a class="nav__item nav__menu_item" href="signup.html">
            Sign up
        </a>
    </div>
</nav>

<main class="main__container">
    <h1>Welcome back!</h1>

    <form id="form__login" v-on:submit.prevent="logInUser">
        <input class="input__default" name="login_email" placeholder="Email" required type="email" v-model="email"><br>
        <input class="input__default" name="login_password" placeholder="Password" required type="password"
               v-model="password"><br>

        <div class="element__hidden_until_ready">
            <ul class="errorlist__default" v-if="errorStore.length > 0">
                <li :value="error" class="errorlist__entry" v-for="error in errorStore">{{ error }}</li>
            </ul>
        </div>

        <button class="button__default" type="submit">Log in</button>
    </form>

    <div class="message__account_hint">
        <strong>Don't have an account?</strong><br>
        <a href="pages/signup.html">
            <em>Sign up here</em>
        </a>
    </div>
</main>

<script src="../dist/login.bundle.js"></script>
<script src="../dist/login.bundle.js.map"></script>
</body>
</html>
