<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/css?family=Sarabun|Work+Sans" rel="stylesheet">
        <link href="../style.css" rel="stylesheet">
        <link href="../css/login_signup.css" rel="stylesheet">

        <title>Greedy Amigo - Log In</title>
    </head>
    <body>
        <nav class="nav__style">
            <div class="nav__left">
                <a href="../index.html">
                    <img class="nav__item nav__brand_logo" src="../img/logo.svg" alt="greedy amigo logo"></object>
                </a>
                <a class="nav__item nav__brand_text" href="../index.html">Greedy Amigo</a>
            </div>
            <div class="nav__right">
                <a class="nav__item nav__menu_item" href="login.html">
                    Log in
                </a>
                <a class="nav__item nav__menu_item nav__item_selected" href="signup.html">
                    Sign up
                </a>
            </div>
        </nav>

        <main class="main__container">
            <h1>Hi there!</h1>

            <form id="form__signup" v-on:submit.prevent="signUpUser">
                <input type="email" v-model="email" name="signup_email" class="input__default" placeholder="Email" required><br>
                <input type="text" v-model="firstName" name="signup_firstname" class="input__default" placeholder="Firstname" required><br>
                <input type="text" v-model="lastName" name="signup_lastname" class="input__default" placeholder="Lastname" required><br>
                <input type="password" v-model="password" name="signup_password" class="input__default" placeholder="Password" required><br>
                
                <ul class="errorlist__default" v-if="errorStore.length > 0">
                    <li v-for="error in errorStore" :value="error" class="errorlist__entry">{{ error }}</li>
                </ul>

                <button type="submit" class="button__default">Sign up</button>
            </form>

            <div class="message__account_hint">
                <strong>Already have an account?</strong><br>
                <a href="../index.html">
                    <em>Log in here</em>
                </a>
                </p>
            </div>
        </main>

        <script src="../dist/signup.bundle.js"></script>
        <script src="../dist/signup.bundle.js.map"></script>
    </body>
</html>
