<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
        <link rel="manifest" href="../img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="https://fonts.googleapis.com/css?family=Sarabun|Work+Sans" rel="stylesheet">
        <link href="../style.css" rel="stylesheet">
        <link href="../css/login_signup.css" rel="stylesheet">

        <title>Greedy Amigo - Log In</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar_left">
                <a href="../index.html">
                    <img class="nav_item nav_greedy_amigo_logo" src="../img/logo.svg" alt="greedy amigo logo"></object>
                </a>
                <a class="nav_item nav_greedy_amigo_text" href="../index.html">Greedy Amigo</a>
            </div>
            <div class="navbar_right">
                <a class="nav_item nav_right_item" href="login.html">
                    Log in
                </a>
                <a class="nav_item nav_right_item nav_item_selected" href="signup.html">
                    Sign up
                </a>
            </div>
        </nav>

        <main class="main">
            <h1>Hi there!</h1>

            <form id="form_signup" v-on:submit.prevent="signUpUser" class="signup_section">
                <input type="email" v-model="email" id="signup_email" name="signup_email" class="input_element" placeholder="Email" required><br>
                <input type="text" v-model="firstName" id="signup_firstname" name="signup_firstname" class="input_element" placeholder="Firstname" required><br>
                <input type="text" v-model="lastName" id="signup_lastname" name="signup_lastname" class="input_element" placeholder="Lastname" required><br>
                <input type="password" v-model="password" id="signup_password" name="signup_password" class="input_element" placeholder="Password" required><br>
                <span v-if="errorMessage" class="error_message">{{ errorMessage }}</span><br>
                <button type="submit">Sign up</button>
            </form>

            <p>
                Already have an account?<br>
                <a href="../index.html">Log in here</a>
            </p>
        </main>

        <script src="../dist/signup.bundle.js"></script>
    </body>
</html>
